<p>start works!</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="name.invalid"> Name is too short. </div>
    <input formControlName="name" placeholder="Name">



    <button type="submit">Create new player</button>
 </form>

 <form [formGroup]="gameOptions">
   <label>
      <input type="radio" value="easy" formControlName="difficulty">
      <span>Easy</span>
   </label>
   <label>
      <input type="radio" value="medium" formControlName="difficulty">
      <span>Medium</span>
   </label>
   <label>
      <input type="radio" value="hard" formControlName="difficulty">
      <span>Hard</span>
   </label>
   <br/>
   <label>
         <input type="number" ng-min="1" ng-max="100" formControlName="rounds">
         <span>Rounds</span>
   </label>
   <br/>
   <label for="category">Category:</label>
   <select class="form-control" id="category" formControlName="category" required>

     <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
   </select>
   

</form>
 <button (click)="start()">Start!</button>
