/* You can add global styles to this file, and also import other style files */
body{
    background-color: #f7f7f7;
    text-align: center;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif; 
}

h1{
    color: #7da2a9;
}

input{
    padding: 5pt;
    margin: 5pt;
}

button{
    background-color: #7da2a9;
    padding: 5pt;
    color: white;
    border-radius: 5pt;
    margin: 5pt;
    font-weight: bold;
    
}